<!DOCTYPE html>
<html>
    {% include 'header/head.html.twig' %}
    <body>
        <div id="container" class="container">
            <div id="sidebar">
                {% include 'header/header.html.twig' %}
                {% block body %}{% endblock %}
                {% include 'footer/footer.html.twig' %}
            </div>
        </div>
        {% include 'footer/js.html.twig' %}
    </body>
</html>
