<!-- footer section
				================================================== -->
<footer>
    <div class="up-footer">
        <div class="row">

            <div class="col-md-4">
                <div class="widget footer-widgets tags-widget">
                    <h2>Popular Tags</h2>
                    <ul class="tag-list">
                        <li><a href="#">web design</a></li>
                        <li><a href="#">coding</a></li>
                        <li><a href="#">wordpress</a></li>
                        <li><a href="#">php</a></li>
                        <li><a href="#">photography</a></li>
                        <li><a href="#">html5</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget footer-widgets tweets-widget">
                    <h2>Recent Tweets</h2>
                    <ul class="tweet-list">
                        <li>
                            <p>
                                <a href="#" class="autor">@premiumlayers </a> Thanks for the head up! :) <a href="#">http://support.envato.com</a> was very helpful
                                <span>3 days ago </span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#" class="autor">@envato </a><a href="#">http://support.envato.com</a>
                                <span>4 days ago </span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#" class="autor">@premiumlayers </a>Well, that’s awesome thing
                                <span>5 days ago </span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget footer-widgets flickr-widget">
                    <h2>Flickr Gallery</h2>
                    <ul class="flickr-list">
                        <li><a href="#"><img alt="" src="upload/flickr/flickr1.jpg"></a></li>
                        <li><a href="#"><img alt="" src="upload/flickr/flickr2.jpg"></a></li>
                        <li><a href="#"><img alt="" src="upload/flickr/flickr3.jpg"></a></li>
                        <li><a href="#"><img alt="" src="upload/flickr/flickr4.jpg"></a></li>
                        <li><a href="#"><img alt="" src="upload/flickr/flickr5.jpg"></a></li>
                        <li><a href="#"><img alt="" src="upload/flickr/flickr6.jpg"></a></li>
                        <li><a href="#"><img alt="" src="upload/flickr/flickr7.jpg"></a></li>
                        <li><a href="#"><img alt="" src="upload/flickr/flickr8.jpg"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="footer-line">
        <p>&#169; 2014 Unik,  All Rights Reserved</p>
        <a class="go-top" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
</footer>