{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <div style="" class="box-section contact-section triggerAnimation animated flipInY" data-animate="flipInY">
            <h2>Contact us</h2>
            <form id="contact-form">
                <div class="text-fields">
                    <div class="float-input">
                        <input name="name" id="name" placeholder="Name" type="text">
                        <span><i class="fa fa-user"></i></span>
                    </div>
                    <div class="float-input">
                        <input name="mail" id="mail" placeholder="e-mail" type="text">
                        <span><i class="fa fa-envelope-o"></i></span>
                    </div>
                    <div class="float-input">
                        <input name="website" id="website" placeholder="website" type="text">
                        <span><i class="fa fa-link"></i></span>
                    </div>
                </div>
                <div class="comment-area">
                    <textarea name="comment" id="comment" placeholder="Message"></textarea>
                </div>
                <div class="submit-area">
                    <button type="submit" name="contact-submit" id="submit_contact">
                        <i class="fa fa-envelope-o"></i>
                        Send Message
                    </button>
                </div>
                <div id="msg" class="message"></div>
            </form>
        </div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
{% endblock %}
