{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <div style="" class="box-section contact-section triggerAnimation animated flipInY" data-animate="flipInY">
            <h2>Contact us</h2>
            {{ form_start(form, {
                    'attr': {'id': 'contact-form'},
                    'action': path('test'), 'method': 'POST'}
                    )
            }}
                <div class="text-fields">
                    <div class="float-input">
                        <input name="name" id="name" placeholder="Name" type="text">
                        <span><i class="fa fa-user"></i></span>
                    </div>
                    <div class="float-input">
                        <input name="mail" id="mail" placeholder="e-mail" type="text">
                        <span><i class="fa fa-envelope-o"></i></span>
                    </div>
                    <div class="float-input">
                        <input name="website" id="website" placeholder="website" type="text">
                        <span><i class="fa fa-link"></i></span>
                    </div>
                </div>
                <div class="comment-area">
                    <textarea name="comment" id="comment" placeholder="Message"></textarea>
                </div>
                <div class="submit-area">
                    <input type="submit" value="Send"/>
                </div>
                <div id="msg" class="message"></div>
            {{ form_end(form) }}
        </div>
{% endblock %}
