<!-- header -->
<header class="sidebar-section">
    <div class="header-logo">
        <a class="logo" href="#"><img alt="" src="images/logo.png"></a>
    </div>
    <a class="elemadded responsive-link" href="#">Menu</a>
    <div class="navbar-vertical">
        <ul class="main-menu">

            <li class="drop"><a class="active" href="index.html"><i class="fa fa-home"></i>home</a>
                <ul class="drop-down">
                    <li><a href="index.html">Home - Default</a></li>
                    <li><a href="home1.html">Home 1</a></li>
                    <li><a href="home2.html">Home 2</a></li>
                    <li><a href="home3.html">Home 3</a></li>
                    <li><a href="home4.html">Home 4</a></li>
                    <li><a href="home5.html">Home 5</a></li>
                    <li><a href="home6.html">Home 6</a></li>
                    <li><a href="home7.html">Home 7</a></li>
                    <li><a href="home-dark.html">Home Dark</a></li>
                    <li><a href="home-photography.html">Home Photography</a></li>
                    <li><a href="home-rightmenu.html">Right Menu</a></li>
                </ul>
            </li>
            <li><a href="about.html"><i class="fa fa-user"></i>about us</a></li>
            <li class="drop"><a href="#"><i class="fa fa-cog"></i>skins</a>
                <ul class="drop-down">
                    <li><a href="../index.html">Skin - Default</a></li>
                    <li><a href="../skin2/index.html">Skin 2</a></li>
                    <li><a href="../skin3/index.html">Skin 3</a></li>
                    <li><a href="../skin4/index.html">Skin 4</a></li>
                    <li><a href="../skin5/index.html">Skin 5</a></li>
                    <li><a href="index.html">Skin 6</a></li>
                    <li><a href="../non-animation/index.html">Non animation</a></li>
                </ul>
            </li>
            <li class="drop"><a href="portfolio-2col.html"><i class="fa fa-briefcase"></i>portfolio</a>
                <ul class="drop-down">
                    <li><a href="portfolio-2col.html">Portfolio 2Col</a></li>
                    <li><a href="portfolio-3col.html">Portfolio 3Col</a></li>
                    <li><a href="single-project.html">Single Project</a></li>
                    <li class="drop"><a href="#">Go Level 3</a>
                        <ul class="drop-down">
                            <li><a href="#">Level 3</a></li>
                            <li><a href="#">Level 3</a></li>
                            <li><a href="#">Level 3</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="drop"><a href="blog-2col.html"><i class="fa fa-comment"></i>blog</a>
                <ul class="drop-down">
                    <li><a href="blog-1col.html">Blog 1Col</a></li>
                    <li><a href="blog-2col.html">Blog 2Col</a></li>
                    <li><a href="single-post.html">Single Post</a></li>
                </ul>
            </li>
            <li><a href="contact.html"><i class="fa fa-envelope"></i>contact us</a></li>

        </ul>
    </div>
</header>